@import "./menu.css";
@import "./utilities.css";
@import "./footer.css";

:root {
    /* Fonts */
    --titleFont: 'Rubik', sans-serif;
    --textFont: 'Lato', sans-serif;

    /*Colors*/
    --titleH1: #3a3238;
    --titleH2: #FF499E;
    --footer : #e8b4bc;
    --anchor: #6e4555;
    --cardBg: #A2ABB5;
    --button : #7e2e84;
    --black: #232323;
    --white: #ffffff;
}

html {
    font-size: 62.5%; /*10 px = 1rem */
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: var(--textFont);
        /* transition: all 0.3s ease-in-out; */
    /* background-color: var(--orchid); */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: var(--titleFont);
}

h1 {
    font-size: 3.2rem;
    margin-bottom: 6.4rem;
    color: var(--titleH1);
    text-decoration: underline;
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 3.2rem;
    color: var(--titleH2);
}

h3 {
    font-size: 1.8rem; 
    margin-bottom: 1.6rem;
    color: var(--black);
}

p, blockquote {
    margin-bottom: 1.6rem;
    font-family: var(--textFont);
    font-weight: 400;
}

p:last-child {
    margin-bottom: unset;
}

a {
    color: var(--anchor);
}

ul {
    margin-left: 1.6rem;

}

ol {
    margin-bottom: 1.6rem;
    margin-left: 1.6rem;
}

li {
    margin-bottom: 0.8rem;
}

li:last-child {
    margin-bottom: unset;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    background-color: var(--button);
    border: 2px solid var(--button);
    box-shadow: none;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: var(--white);
    font-weight: 400;
    font-size: 1.8rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--footer);
    color: var(--button);
    border: 2px solid (--button);
    transition: all 0.2s ease-in;
}

/* HERO */ 

.hero-bg {
    grid-area: hero;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    .hero-bg {
        background-size: contain;
        background-repeat: repeat;
    }
}

.hero-bg--home {
    background-image: url(../assets/img/hero.jpg);
}

.hero-bg--about {
    background-image: url(../assets/img/5700178.jpg);
}

.hero-bg--posts {
    background-image: url(../assets/img/5570642.jpg);
}

.hero-single-posts {
    grid-area: hero;
    height: 300px;
    background: linear-gradient(90deg, rgba(232,180,188,1) 0%, rgba(126,46,132,1) 80%);
}

.hero-h-100 {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .hero-h-100 {
        align-items: center;
    }
}

/* HOME */

.card {
    flex-basis: 100%;
    position: relative;
}

.card-img {
    border-radius: 25px;
}

.card-img img {
    border-radius: 25px;
}

@media screen and (min-width: 768px) {
    .card {
        flex-basis: calc(50% - 1.6rem);
    }

    .card-img img {
        width: 100%;
        height: 432px;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        flex-basis: calc(33.33% - 1.6rem);
    }
}

.card-info {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: 100%;
    border-top: solid 1px var(--cardBg);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.card-info h3 {
    margin-bottom: unset;
    padding: 2.4rem 0;
}

.card-info a {
    text-decoration: none;
}

.card-info a:hover {
    text-decoration: underline;
    color: var(--white);
}

/* RESOURCES */

.resource-link {
    border: solid 1px var(--button);
    padding: 0.4rem 1rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 400;
    background-color: rgba(126, 46, 132, 0.1);
    color: var(--black);
}

/* POSTS */

.content--posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "posts-content"
    "aside-content";
}

@media screen and (min-width: 768px) {
    .content--posts {
        display: grid;
        grid-template-columns: 55% 40%;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "posts-content aside-content";
        gap: 5%;
    }
}

.posts-content {
    grid-area: posts-content;
}

.aside-content {
    grid-area: aside-content;
    justify-self: right;
}

@media screen and (max-width: 767px) {

    .aside-content {
        margin-top: 4.8rem;
    }

    .aside-content h3 {
        margin-top: 3.2rem;
    }

    .more-posts-container {
        margin-bottom: 3.2rem;
    }
}

.player-card {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.grid-col-2-md {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "group-one"
    "group-two";
    align-items: center;
}

@media screen and (min-width: 768px) {
    .grid-col-2-md {
        grid-template-columns: auto;
        grid-template-areas: 
        "group-one group-two";
        gap: 3.2rem;
    }
}

.grid-group-one {
    grid-area: group-one;
}

.grid-group-two {
    grid-area: group-two;
}

@media screen and (max-width: 767px) {
    .grid-group-one {
        margin-bottom: 1.6rem;
    }
}

.more-posts-container {
    display: flex;
    flex-flow: column;
}

.more-posts-container a {
    text-decoration: none;
    margin-bottom: 1.6rem;
    font-size: 1.8rem;
}

.more-posts-container a:last-child {
    margin-bottom: unset;
}

.more-posts-container a:hover {
    text-decoration: underline;
}

.author-container {
    display: flex;
    align-items: center;
}

.author-container h3 {
    font-weight: 300;
}

.thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.sm-visible {
    display: block;
}

@media screen and (min-width: 768px) {
    .sm-visible {
        display: none;
    }
}

.league-img {
    border-radius: 10px;
    width: 400px;
}


